/* Variables pour les couleurs et les typographies */
:root {
  --main-font: "Arimo";
  --main-color: #303032;
  --secondary-color: #ffffff;
  --highlight-color: #008b99;
  --base-font-size: 16px;
}

/* Réinitialisation des styles par défaut */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Styles généraux */
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
  font-size: var(--base-font-size);
  line-height: 2;
  text-align: left;
  padding-top: 170px;
}
#logo { 
	position:absolute; 
	top:15px; 
	right:20px; 
} 

/* Styles pour les titres */
h1 {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 12px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: left;
}

/* Styles pour le paragraphe */
p {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 6px;
}

/* Styles pour le conteneur du logo */
.logo-container {
  padding: 0.625rem; /* 10px */
}

/* Styles pour le texte des stats */
.texte-stat-info {
  font-size: 18px;
  font-weight: bold;
}

/* Styles pour la valeur des stats */
.stat-info {
  font-size: 18px;
  font-weight: 300; /* light */
}

/* Styles pour les stats */
.stat-value {
  color: var(--highlight-color);
  font-size: 18px;
}
.stat-other {
  color: #C0C0C2;
  font-size: 18px;
}
.stat-label {
  color: var(--highlight-color);
  font-size: 18px;
  font-weight: bold;
}

.stat-table {
  margin-left: auto;
  margin-right: auto;
}
.stat-table td {
  padding: 12px;
  text-align: margin-left;
}
